<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="search">
      <ion-icon  name="search"></ion-icon>
      <ion-label>{{env.search| titlecase}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maps">
      <ion-icon name="map"></ion-icon>
      <ion-label>{{env.maps| titlecase}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reserve">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>{{env.reserves| titlecase}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{env.calendar| titlecase}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
