<ion-header>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="backButton" defaultHref="/" [text]="env.back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3 class="ml-3 text-center">{{sportCenterName}}</h3>
  <h5 class="ml-3 text-center">{{sport}}</h5>
  <div id="infoform" action="">
    <div id="contentInfo">
      <br>
      <div>
        <ion-label>{{env.track | titlecase }}</ion-label>
        <ion-select class="form-select form-select-sm" aria-label=".form-select-sm " placeholder="{{env.selectTrack}}"
          #trackSelect (ionChange)="changeTrack(trackSelect.value)" interface="popover" id="trackPicker">
          <ion-select-option *ngFor="let track of tracks" [value]="track">{{track.name}}</ion-select-option>
        </ion-select>
      </div>
      <br>

      <div class="select">
        <ion-label>{{env.date | titlecase }}</ion-label>
        <input type="date" id="datePicker" [(ngModel)]="selectDay" [min]="minDay | date:'yyyy-MM-dd'"
          (change)="activeHour()" />
      </div>
      <br>

      <div class="select" [hidden]="hoursEmpty">
        <ion-label>{{env.hour | titlecase }}</ion-label>
        <ion-select class="form-select form-select-sm" interface="popover" aria-label=".form-select-sm "
          placeholder="{{env.selectHour}}" id="hourPicker" (ionChange)="changeHour(hourSelect.value)" #hourSelect>
          <ion-select-option *ngFor="let hourElement of hoursFree"
            [value]="hourElement">{{hourElement.hour}}:{{hourElement.minutes}}</ion-select-option>
        </ion-select>
      </div>
      <p [hidden]="!hoursEmpty" id="messageHours">{{env.emptyHours}}</p>

      <br><br><br>
      <div class="nameReserve" [hidden]="hoursEmpty">
        <form [formGroup]="reserveForm" (ngSubmit)="checkReserve()" novalidate>
          <ion-list>
            <ion-item>
              <ion-label position="stacked" class="ion-text-center">
                <h2>
                  {{env.reserveName}}
                </h2>
              </ion-label>
              <br>
              <ion-input type="text" name="name" formControlName="nameReserve" [(ngModel)]="nameReserve"
                placeholder={{env.yourName}}></ion-input>
              <!-- Error messages -->
              <span class="error ion-padding" *ngIf="errorControl.nameReserve.errors?.required">
                {{env.errorNameRequired }}
              </span>
              <span class="error ion-padding" *ngIf="errorControl.nameReserve.errors?.minlength">
                {{env.errorNameLength }}
              </span>
              <span class="error ion-padding" *ngIf="errorControl.nameReserve.errors?.pattern">
                {{env.errorNameFormat }}
              </span>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">
                <h2>
                  {{env.reserveEmail}}
                </h2>
              </ion-label>
              <br>
              <ion-input type="email" name="email" formControlName="emailReserve" [(ngModel)]="emailReserve"
                placeholder={{env.titleEmail}}></ion-input>

              <!-- Error messages -->
              <div>
                <span class="error ion-padding" *ngIf="errorControl.emailReserve.errors?.required">
                  {{env.errorEmailRequired }}
                </span>
                <span class="error ion-padding" *ngIf="errorControl.emailReserve.errors?.pattern">
                  {{env.errorEmailFormat }}
                </span>
              </div>
            </ion-item>
          </ion-list>
          <div id="blockButton" [hidden]="hoursEmpty">
            <ion-button id="buttonForms" color="tertiary" type="submit">{{env.reserver| titlecase}}</ion-button>
          </div>

        </form>
      </div>
    </div>

    <div id="containerComment" class="moveButtonClose" *ngIf="selectTrack!=undefined">
      <ion-button id="buttonComments" expand="block" color="primary" (click)="readComment()">
        <ion-icon name="caret-up-outline" *ngIf="closeComment"></ion-icon>
        <ion-icon name="caret-down-outline" *ngIf="!closeComment"></ion-icon>
        {{env.comments |titlecase}}
        <ion-icon name="caret-down-outline" *ngIf="!closeComment"></ion-icon>
        <ion-icon name="caret-up-outline" *ngIf="closeComment"></ion-icon>
      </ion-button>

      <div id="comments" class="closeComment">
        <ion-virtual-scroll id="scrollComments">
          <ion-card *ngFor="let comment of listComments">
            <ion-card-title> {{ comment.user }} </ion-card-title>
            <p>{{ comment.text }}</p>
            <div id="infoComment">
              <div id="scoreComment">
                <span> {{ comment.score }}/5 </span>
                <ion-icon name="star"></ion-icon>
              </div>
              <p id="dateComment">{{ comment.date }}</p>
            </div>
          </ion-card>
          <p id="emptyComment" *ngIf="listCommentsEmpty">{{ env.emptyComments }}</p>
        </ion-virtual-scroll>
      </div>
    </div>


  </div>
</ion-content>