ion-content {
  --overflow: hidden;
  --ion-background-color: var(--ion-color-secondary);
}

ion-toolbar {
  --ion-background-color: #222428;
}

#menu-search {
  display: flex;
  flex-direction: column;
}

#menu-search > div {
  margin: 5px;
}

.select {
  width: 50%;
  float: left;
}

.select > ion-label {
  color: var(--ion-color-tertiary);
}

.select > ion-select {
  color: white;
  margin-right: 5px;
}

#buttonSearch {
  float: none;
  width: 100%;
  margin: 0px;
  --background: var(--ion-color-primary-shade) !important;
}

#buttonSearch > p {
  color: var(--ion-color-tertiary);
  margin-bottom: 0;
}

#contentList {
  background-color: var(--ion-color-primary) !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#result-search {
  background-color: var(--ion-color-primary) !important;
  overflow: auto;
  margin-top: auto;
  margin-bottom: 17%;
  height: 100% !important;
}

ion-card {
  background-color: var(--ion-color-secondary);
  padding: 10px;
}

ion-card-title {
  color: white;
}

ion-card p {
  color: var(--ion-color-tertiary);
}

.message {
  background-color: white;
  opacity: 50%;
  padding: 5px;
  margin: 50% 15px;
  border-radius: 5px;
  text-align: center;
}

.message > ion-label {
  color: grey;
}
