<ion-header>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="backButton"  [text]="env.back">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{sportcenter.name| titlecase}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            {{env.score| titlecase}}
          </ion-label>

          <ion-select placeholder="EMPTY" class="commentForm">
            <ion-select-option *ngFor="let i of listScore" value="i">{{i}}</ion-select-option>
          </ion-select>


          <ion-label>
            <h4>{{comment.text| titlecase}}</h4>
            <p>{{comment.text}}</p>
          </ion-label>

        </ion-item>
        <ion-item>
          <ion-input class="commentForm" type="text" name="comment" [(ngModel)]="newComment"> </ion-input>
        </ion-item>
      </ion-list>
      <br>
      <br>
      <ion-button id="buttonSave" expand="full" (click)="saveComment()">
        <p>{{env.save}}</p>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>