ion-content ion-toolbar {
  --background: translucent;
}

#containerLogin{  
  margin-top: 50% !important; 
}

#containerLogout{
  height: 25px;
}

#containerLogout > ion-button{
  padding: 0;
  width: 100%;
  left: 0px;
  right: 0px;
}

#containerCalendar{
  height: 100%;
  background-color: white;
}

#textLogin{  
  padding: 0px 10px;
  text-align: center;
}

.buttonLogin{
  margin: 0px;
  position: absolute;
  padding: 0 10%;
  height: auto;
  left: 15%;
  right: 15%;
}

.buttonLogin > p{
  color: black;  
  text-align: center;
  margin: 5px 0px;
  white-space: break-spaces;
}