ion-content ion-toolbar {
  --background: translucent;
}

#container{  
  margin-top: 50% !important; 
}

#buttonLogin{
  margin: 5px 10px;  
  text-align: center;
}

#buttonLogin > p{
  color: black;
}